<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/js/frameworks/core.js"></script>
    <script src="~/Content/js/frameworks/jquery-1.11.3.min.js"></script>
    @Html.Raw(ViewBag.ContentHeader)
</head>
<body>    
    @RenderBody()

    <footer>
        &copy; @DateTime.Now.Year
    </footer>
    @Html.Raw(ViewBag.LoadScripts)
</body>
</html>